@import url(https://jackhumbert.github.io/zbalermorna/assets/css/fonts.css);

:root {
  --text-color: #ccc;
  --border-color: #787068;
}

body {
  background-color: black;
  color: var(--text-color);
}

/* hide scrollbar */
body, html {
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar, html::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

#back-btn > .btn {
  font-size: 2.5vh;
  height: 6vh;
}
#back-btn {
  position: absolute;
  z-index: 1;
  top: 8vh;
  left: 2vw;
  font-size: 4vh;
}

#views {
  margin-top: 25vh;
  height: 75vh;
  padding-bottom: 25vh;
  overflow-y: scroll;
  /* hide scrollbar */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
#views::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

#views > .row {
  width: 95%;
  margin: auto;
  margin-bottom: 1em;
}

.toggle-btn {
  background: none;
  color: inherit;
  border: none;
  text-decoration: blue underline;
  transition: color 0.2s;
}
.toggle-btn:hover {
  color: blue;
}

.pstart {
  text-indent: 2em;
}
.pstart * {
  text-indent: 0;
}

.zbalermorna {
  font-family: 'crisa-regular';
  line-height: 1.4;
  padding-top: 0.3em;
}

#explanation-container {
  width: 100%;
  background-color: black;
  position: fixed;
}

#explanation {
  height: 22vh;
  width: 75%;
  margin: auto;
  border: 5px solid var(--border-color);
  border-radius: 1em;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
/* hide scrollbar */
#explanation {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
#explanation::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.col span {
  text-decoration: 1px underline transparent;
  transition: background-color 0.2s;
  background-color: initial;
  border-radius: 2px;
}
.col span:hover {
  cursor: pointer;
}

.col > img.img-fluid.mtg-card {
  border-radius: calc(100vw/80);
}

.ms.ms-loyalty-up, .ms.ms-loyalty-zero, .ms.ms-loyalty-down, .ms.ms-loyalty-start {
  color: var(--text-color);
}
.ms.ms-loyalty-up::after, .ms.ms-loyalty-zero::after, .ms.ms-loyalty-down::after, .ms.ms-loyalty-start::after {
  color: black;
}