@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

:root {
	--villager-border: #b15cc8;
	--villager-text-bg: #472a5c;
	--villager-text-color: #dad3b4;
	--outcast-border: #bca401;
	--outcast-text-bg: #241716;
	--outcast-text-color: #d0d472;
	--minion-border: #c20302;
	--minion-text-bg: #1b1211;
	--minion-text-color: #c17602;
	--minion-text-color-bright: #da8601;
	--demon-border: #c20302;
	--demon-text-bg: #1b1211;
	--demon-text-color: #d66464;
	--demon-text-color-bright: #d20202;
}

.color-villager {
	color: var(--villager-text-color);
}
.color-outcast {
	color: var(--outcast-text-color);
}
.color-minion {
	color: var(--minion-text-color-bright);
}
.color-demon {
	color: var(--demon-text-color-bright);
}

body {
	color: #dbdbdb;
	user-select: none;
	overflow: hidden;
}

#game {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0;
}
#characters {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0;
}
.game-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0;
	background-size: cover;
	background-position: center;
	transition: 0.8s opacity;
}
.game-bg.good {
	background-image: url("src/bgZ.png");
}
.game-bg.evil {
	background-image: url("src/bg_red.png");
}
#game.killing-active .game-bg.good {
	opacity: 0;
}
.pentagram-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0;
	transition: 0.5s opacity;
}
.pentagram {
	position: absolute;
	top: 50%; left: 50%;
	width: calc(min(46vw, 46vh));
	aspect-ratio: 10 / 9;
}
.pentagram-container.evil {
	opacity: 0;
}
#game.killing-active .pentagram-container.good {
	opacity: 0;
}
#game.killing-active .pentagram-container.evil {
	opacity: 1;
}
.pentagram-container.evil .pentagram {
	background-image: url("src/pentas.png");
	background-size: 100% 100%;
	background-position: center;
	transform: translate(-50%, -50%);
	opacity: 0.8;
	filter: brightness(1.7) drop-shadow(0 0 0.5vw #f72d1f);
}
.pentagram-container.good .pentagram {
	background-image: url("src/pentas2.png");
	background-size: 100% 100%;
	background-position: center;
	transform: translate(-50%, -50%);
	opacity: 0.5;
	filter: brightness(0.4) sepia(1) hue-rotate(120deg) blur(0.5px) brightness(0.6) saturate(2);
}

.card-container {
	width: fit-content;
	height: fit-content;
	position: relative;
	text-align: center;
	transition: 0.05s transform;
}
.card-container .card {
	border: none;
	width: 10em;
	font-size: 0.7em;
	aspect-ratio: 166 / 196;
	background-color: transparent;
	overflow: hidden;
	position: relative;
	filter: drop-shadow(0.5em 0.5em 0.1em rgba(0,0,0,0.6));
	--border-thickness: 0.4em;
	border: var(--border-thickness) solid var(--border-color);

	transition: 0.05s transform, 0.1s border-color;
}
.character-anchor-point[data-type="Villager"]{
	--border-color-base: var(--villager-border);
	--border-color: var(--villager-border);
	--text-bg: var(--villager-text-bg);
	--text-color: var(--villager-text-color);
}
.character-anchor-point[data-type="Outcast"]{
	--border-color-base: var(--outcast-border);
	--border-color: var(--outcast-border);
	--text-bg: var(--outcast-text-bg);
	--text-color: var(--outcast-text-color);
}
.character-anchor-point[data-type="Minion"]{
	--border-color-base: var(--minion-border);
	--border-color: var(--minion-border);
	--text-bg: var(--minion-text-bg);
	--text-color: var(--minion-text-color);
}
.character-anchor-point[data-type="Demon"]{
	--border-color-base: var(--demon-border);
	--border-color: var(--demon-border);
	--text-bg: var(--demon-text-bg);
	--text-color: var(--demon-text-color);
}
.character-anchor-point[faceup="true"] .card {
	border-radius: 1.4em;
	background-color: black;
}
.character-anchor-point[faceup="false"] .card {
	background-image: url("src/card-back.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	--border-color: transparent;
	--border-thickness: 0;
}
.character-anchor-point[faceup="true"] .card-container.dead {
	filter: sepia(0.4) hue-rotate(-20deg);
}

.card-container .card-id {
	position: absolute;
	top: 0; left: 50%;
	transform: translate(-50%, -1.2em);
	font-size: 1.4em;
	font-family: "Josefin Sans";
	font-weight: bold;
	color: #dadada;
	text-shadow: 0.04em 0 black, -0.04em 0 black, 0 0.04em black, 0 -0.04em black,
	0.04em 0.04em black, -0.04em 0.04em black, 0.04em -0.04em black, -0.04em -0.04em black;
	pointer-events: none;
}
.card-container .skull {
	position: absolute;
	width: 3em;
	top: 70%; left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	filter: brightness(0.7) drop-shadow(0 0 0.1em black) drop-shadow(0 0 0.1em black) drop-shadow(0 0 0.1em black);
	pointer-events: none;
	transition: 0.05s opacity;
}
.card-container.dead .skull {
	opacity: 1;
}

.card-model {
	position: relative;
	top: 0; left: 0;
	width: 100%; height: 100%;
	transition: 0.05s transform;
}
.card-extras {
	transition: 0.05s transform;
}
.character-anchor-point:hover {
	--border-color: #e29302;
}
.character-anchor-point:hover .card-extras {
	transform: scale(1.2);
}
.card-model .drop-shadow {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	z-index: -100;
	border-radius: 1.4em;
	background-color: rgba(0, 0, 0, 1);
	transition: 0.05s filter;
}
.card-model:hover .drop-shadow {
	filter: drop-shadow(0 0 1em var(--border-color));
}

.character-anchor-point.selected {
	--border-color: #01dc0f;
}
.character-anchor-point.selected .drop-shadow {
	filter: drop-shadow(0 0 1em var(--border-color));
}

.card > * {
	flex-shrink: 0;
}
.card .card-img-top {
	border: none;
	width: 100%;
	aspect-ratio: 1 / 1;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	position: absolute;
	top: 0;
	transition: 0.2s opacity;
}
.card .card-img-top.true-role {
	opacity: 0;
}
.card-container.dead .card-img-top.true-role {
	opacity: 1;
}
.card .card-body {
	background-color: var(--text-bg);
	color: var(--text-color);
	border-top: var(--border-thickness) solid var(--border-color-base);
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Josefin Sans";
	padding: 0.1em;
	transition: 0.1s border-color, 0.1s background-color, 0.1s color;
}
.card .card-title {
	font-size: 90%;
	margin-top: 0.3em;
	margin-bottom: 0em;
	font-weight: bolder;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
}
.character-anchor-point[data-showcorrupted="true"] .card-name {
	font-size: 60%;
	filter: brightness(0.7);
}
.character-anchor-point[data-showcorrupted="false"] .card-corrupted {
	display: none;
}
.character-anchor-point .activated-ability-container {
	position: absolute;
	top: 0; right: 0;
	width: 2em; height: 2em;
	border-radius: 100%;
	background-color: #1e1c29;
	border: 0.1em solid #733294;
	opacity: 0;
	transition: 0.25s opacity;
}
.character-anchor-point[data-showactive="true"] .activated-ability-container{
	opacity: 1;
}
.character-anchor-point .activated-ability-container img {
	width: 70%;
	aspect-ratio: 1 / 1;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	filter: drop-shadow(0 0 0.4em rgba(255,255,255,0.4));
}

.card.ghost {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-52%, -56%);
	filter: contrast(0.7) brightness(0.5) sepia(1) contrast(1.3) hue-rotate(120deg) brightness(3.5) blur(0.05em) drop-shadow(0 0 1em rgb(76, 174, 212));
	pointer-events: none;
	opacity: 0;
	z-index: 100;
	transition: opacity 0.2s;
	background-color: var(--border-color);
	--border-color: var(--border-color-base);
	animation: ghostfloat 10s infinite;
}
.character-anchor-point[data-showdisguise="true"][data-showghost="true"] .card.ghost {
	opacity: 1;
}
.character-anchor-point[faceup="false"] .card.ghost {
	background-image: none;
}
.card.ghost .card-corrupted {
	display: none;
}
.card.ghost img[data-img="2"] {
	display: none;
}

.character-anchor-point {
	position: absolute;
	width: fit-content;
	height: fit-content;
	transform: translate(-50%, -50%);
}
.character-anchor-point:hover {
	z-index: 100 !important;
}

.character-anchor-point .disguise-icon-container {
	position: absolute;
	top: 0.1em; left: -0.8em;
	width: 2.4em; height: 2.4em;
	opacity: 0;
	transition: 0.25s opacity;
}
.character-anchor-point .disguise-icon-container img {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	width: 100%; height: 100%;
	filter: brightness(0.7);
}
.character-anchor-point[data-showdisguise="true"] .disguise-icon-container {
	opacity: 1;
}

.character-anchor-point .card-marks-container {
	position: absolute;
	bottom: 0; right: 0;
	width: 2em;
	padding-bottom: 1em;
	display: flex;
	flex-direction: column-reverse;
	pointer-events: none;
	--mark-width: 2.6em
}
.character-anchor-point .card-mark {
	width: 100%; height: var(--mark-width);
	margin-top: 0.2em;
	position: relative;
	display: none;
}
.character-anchor-point .card-mark .mark-icon {
	position: absolute;
	top: 0; left: 0;
	width: var(--mark-width); height: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transform: scale(0.85);
	filter: drop-shadow(0 0 0.1em black);
}
.character-anchor-point .card-mark[data-mark-type="blue"] .mark-icon {
	background-image: url("src/img/icons/function_icon_exclamation.png");
}
.character-anchor-point .card-mark .mark-flag {
	transform: rotate(90deg) translateX(100%);
	transform-origin: top right;
	height: 1.7em;
	width: var(--mark-width);
	background-size: 100% 100%;
	position: absolute;
	right: 0;
}

#characters .popover {
	border-radius: 0;
	background-color: transparent;
	font-size: calc(min(100vw, 100vh) * 0.02);
	filter: drop-shadow(0.25em 0.25em 0.1em rgba(0,0,0,0.6));
	pointer-events: none;
}
#characters .popover .popover-body {
	padding: 0.7em;
	padding-left: 1em;
	padding-right: 1em;
	max-height: 20vh;
	max-width: 10em;
	overflow-y: scroll;
	scrollbar-width: none;
	font-family: "Encode Sans", sans-serif;
	font-weight: 500;
	background-image: url("src/textbox.png");
	background-size: 100% 100%;
	background-color: transparent;
	color: #d2d2d2;
	text-align: center;
	text-shadow: 0 0 1em rgba(255, 255, 255, 0.308);
}
#characters .popover .popover-arrow {
	--bs-popover-arrow-border: #000102;
	filter: drop-shadow(0 0 0.1em #000102) drop-shadow(0 0 0.1em #000102);
	--bs-popover-bg: #858585;
}
#characters .popover[data-popper-placement^="left"] .popover-arrow{
	transform: scaleY(0.7) rotate(-10deg) scaleX(1.3) !important;
	z-index: -1;
}
#characters .popover[data-popper-placement^="right"] .popover-arrow{
	transform: scaleY(0.7) rotate(10deg) scaleX(1.3) !important;
	z-index: -1;
}

.dagger-button {
	position: absolute;
	padding-top: 10vh;
	bottom: 20vh; right: 12vw;
	width: 10vw;
	height: 10vw;
	cursor: pointer;
	transition: transform 0.05s;
	transform: translate(50%, 50%);
}
.dagger-button:hover {
	transform: translate(50%, 50%) scale(1.1);
}
.dagger-button .button-gradient-bg {
	position: absolute;
	width: 150%;
	height: 150%;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: 0.05s opacity;
}
.dagger-button .button-gradient-bg.good {
	background: radial-gradient(circle,rgba(0, 0, 0, 1) 32%, rgba(194, 39, 65, 0) 70%);
}
.dagger-button .button-gradient-bg.evil {
	opacity: 0;
	background: radial-gradient(circle,rgb(27, 2, 2) 32%, rgba(223, 10, 45, 0)70%);
}
.dagger-button:hover .button-gradient-bg.good {
	opacity: 0;
}
.dagger-button:hover .button-gradient-bg.evil {
	opacity: 1;
}
.dagger-button .button-bg {
	width: 100%;
	position: absolute;
	bottom: 0;
}
.dagger-button .button-bg img {
	width: 100%;
	position: absolute;
	bottom: 0;
	filter: brightness(0.5) sepia(1) hue-rotate(-50deg) saturate(20);
}
.dagger-button .dagger {
	width: 60%;
	height: 80%;
	position: absolute;
	bottom: 50%; left: 50%;
	transform: translate(-50%, 50%);
	overflow: hidden;
}
.dagger-button .dagger img {
	width: 100%;
	position: absolute;
	bottom: 20%; left: 50%;
	transform: translate(-50%, 50%);
	filter: brightness(0.5) sepia(1) hue-rotate(-50deg) saturate(20);
	transition: 0.05s bottom;
}
.dagger-button:hover .dagger img {
	bottom: 25%;
}
#game.killing-active .dagger-button .dagger img {
	bottom: 40%;
}

.health-container {
	position: absolute;
	/* padding-top: 10vh; */
	bottom: 20vh; left: 12vw;
	width: 10vw;
	height: 10vw;
	transform: translate(-50%, 50%);
	font-family: "Josefin Sans";
	font-weight: bold;
}
.health-container .button-gradient-bg {
	position: absolute;
	width: 150%;
	height: 150%;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	background: radial-gradient(circle,rgba(0, 0, 0, 1) 50%, rgba(194, 39, 65, 0) 70%);
}
.health-container .circle {
	position: absolute;
	top: 50%; left: 50%;
	width: 100%; height: 100%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	overflow: hidden;
}
.health-container .bar {
	position: absolute;
	bottom: 0; left: 50%;
	width: 100%; height: 0%;
	transform: translate(-50%, 0%);
	background-color: #c12121;
	box-shadow: 0 0 0 0.4em #960101;
	transition: height 0.3s, box-shadow 0.3s;
}
.health-container[data-empty="true"] .bar {
	box-shadow: 0 0 0 0em transparent;
}
.health-container .values {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: end;
}
.health-container .values > * {
	--shadow-color: #9e7575;
	margin: 0.05em;
	margin-bottom: 0.2em;
}
.health-container .current {
	font-size: 160%;
	--shadow-color: #120f0f;
	margin-bottom: 0;
}
.health-container .values > * {
	text-shadow: 0.04em 0 var(--shadow-color), -0.04em 0 var(--shadow-color),
	0 0.04em var(--shadow-color), 0 -0.04em var(--shadow-color),
	0.04em 0.04em var(--shadow-color), -0.04em 0.04em var(--shadow-color),
	0.04em -0.04em var(--shadow-color), -0.04em -0.04em var(--shadow-color);
}

.ui-info {
	position: absolute;
  top: 0;
  left: 0;
}
.ui-info .ui-text {
	background-image: url("src/textbox.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	font-family: "Josefin Sans", sans-serif;
	font-weight: bold;
	font-size: min(1rem, 4vw);
	color: #dbdbdb;
	margin-top: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	text-shadow: 0 0 1em rgba(255, 255, 255, 0.137);
}
.ui-info .ui-text p {
	margin: 0;
}
.ui-info .ui-text .secondary {
	color: #818181;
	font-size: 80%;
}
.ui-info .ui-text.left {
	padding-right: 1em;
	padding-left: 3em;
	transform: translate(-2em, 0);
}
.ui-info .objective {
	width: 22em;
	max-width: 100vw;
}

#game .ui-hints {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0;
	pointer-events: none;
	z-index: 100;
}
#game .ui-hints .hint {
	position: absolute;
	opacity: 0;
}
#game .ui-hints .hint.arrow {
	width: 4em;
	filter: drop-shadow(0 0 1em #802eab) drop-shadow(0 0 2em #9761b4);
}
#game .ui-hints .hint.arrow-curve {
	width: 10px;
	height: 10px;
}
#game .ui-hints .hint.arrow-curve img {
	position: absolute;
	top: 50%; left: 50%;
	width: 4em;
	filter: drop-shadow(0 0 1em #802eab) drop-shadow(0 0 2em #9761b4) drop-shadow(0 0 1em #802eab) drop-shadow(0 0 2em #9761b4);
	transform: translate(-50%, -50%);
}
#game .ui-hints .hint.arrow-curve[data-direction="counterclockwise"] img {
	transform: translate(-50%, -50%) scaleX(-1);
}

#game .ui-instruction {
	display: none;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("src/textbox.png");
	background-size: 100% 100%;
	padding: 1.3em;
	color: #ffffff;
	font-family: "Encode Sans", sans-serif;
	font-weight: 500;
	aspect-ratio: 182 / 61;
}

@keyframes ghostfloat {

}