@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Asap:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Kode+Mono:wght@400..700&display=swap');

@font-face {
	font-family: Absolut_Pro;
	src: url("src/font/AsapCondensed-Medium.ttf");
}
@font-face {
	font-family: DP_Pro;
	src: url("src/font/pokemon-dp-pro.ttf");
}
@font-face {
	font-family: Kode_Mono;
	src: url("src/font/KodeMono-VariableFont_wght.ttf");
}
/* POKEMON SCARLET/VIOLET ALREADY HAS ICONS FOR ALL TYPES */
/* Note for future
@font-face {
	font-family: "DejaVu Sans";
	src: url("fonts/DejaVuSans.ttf");
}
@font-face {
	font-family: "DejaVu Sans";
	src: url("fonts/DejaVuSans-Bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: "DejaVu Sans";
	src: url("fonts/DejaVuSans-Oblique.ttf");
	font-style: italic, oblique;
}
@font-face {
	font-family: "DejaVu Sans";
	src: url("fonts/DejaVuSans-BoldOblique.ttf");
	font-weight: bold;
	font-style: italic, oblique;
} */

@property --num {
	syntax: '<integer>';
	initial-value: 0;
	inherits: false;
}

* {
	outline: none;
}

body {
	font-size: max(2.3vh, 1rem);
	background-color: #050506;
	color: white;
	margin: 0;
	width: 100vw;
	height: 100vh;
	font-family: "Asap Condensed", Absolut_Pro, Arial;
	font-weight: 500;
	user-select: none;
	overflow: hidden;
	transition: font-size 0.2s;
}

:root {
	--modal-border-color: #444;

	--player-color: #395aee;
	--enemy-color: #e72e2e;
	--move-usable: #6774dc;
	--move-usable-focus: #7777ff;
	--move-unusable: rgb(60, 60, 60);
	--move-focus: rgb(75, 75, 75);
	--move-tooltip: rgba(40, 40, 40, 1);
	--health-high: #47c72c;
	--health-med: #ffcc03;
	--health-low: #db2428;
	--energy-red: #ff2f35;
	--energy-orange: #e57526;
	--energy-yellow: #e8aa00;
	--energy-green: #82dc42;
	--energy-blue: #00c0e7;
	--energy-purple: #dd60dd;
	--exp: #74def0;

	--move-shadow-size: 1em;
	--move-text-lighter: white;
	--move-text-light: rgb(180, 180, 180);
	--move-text-dark: black;
	--type-water: #2381ef;
	--type-steel: #60a1b7;
	--type-rock: #aea981;
	--type-psychic: #ee4079;
	--type-poison: #9240cc;
	--type-normal: #9fa19e;
	--type-ice: #3ed9ff;
	--type-ground: #915118;
	--type-grass: #3ea125;
	--type-ghost: #703f70;
	--type-flying: #81b8ee;
	--type-fire: #e62222;
	--type-fighting: #ff7f00;
	--type-fairy: #ee70ee;
	--type-electric: #fabf00;
	--type-dragon: #5160e1;
	--type-dark: #86548b;
	--type-bug: #91a110;

	--won-color: gold;
	--dialogue-font-size: min(5vh, 3vw);
	--large-button-font-size: calc(var(--dialogue-font-size) * 0.7);
	--active-pokemon-box-size: min(5vw, 10vh);
	--ui-primary-bg: rgb(75, 117, 232);
}

.floating-text {
	position: absolute;
	transform: translate(-50%, -50%);
	text-shadow: 0em 0em 0.2em black, 0em 0em 0.2em black;
	z-index: 10;
}
.big-btn {
	font-size: 3vh;
	border-radius: 1vh;
	padding: 1vh 3vh;
}
.btn {
	font-size: 1em;
	border-radius: 0.25em;
}
.btn-sm {
	font-size: 0.3em;
}

#fps {
	/* position: absolute;
	z-index: 100;
	bottom: 0; left: 0; */
	text-align: center;
}

.modal.wide > .modal-dialog {
	--bs-modal-width: 70vw !important;
}
.modal > .modal-dialog > .modal-content {
	background-color: #222;
	max-height: 90vh;
	overflow: auto;
}
.modal > .modal-dialog-centered {
	--bs-modal-margin: 0 !important;
	height: 100%;
}
.modal > .modal-dialog > .modal-content > .modal-header {
	border-bottom: 1px solid var(--modal-border-color);
}
.modal > .modal-dialog > .modal-content > .modal-footer {
	border-top: 1px solid var(--modal-border-color);
}
.modal .pokemon-image {
	height: 7em;
}
.modal input {
	margin: 0.3em;
	border-radius: 0.5em;
	border: 0px;
	padding: 0.3em 0.6em;
}

.popover {
	background-color: rgba(40, 40, 40, 0.9);
	color: white;
	border: 1px solid var(--move-tooltip);
}
.popover > .popover-arrow::before,
.popover > .popover-arrow::after {
	border-color: var(--move-tooltip) !important;
	border-top-color: transparent !important;
	border-bottom-color: transparent !important;
}
.popover[data-popper-placement="top"] > .popover-arrow::before,
.popover[data-popper-placement="top"] > .popover-arrow::after,
.popover[data-popper-placement="bottom"] > .popover-arrow::before,
.popover[data-popper-placement="bottom"] > .popover-arrow::after {
	border-color: var(--move-tooltip) !important;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
}
.popover > .popover-body {
	color: white;
	font-family: Absolut_Pro, Arial;
	font-size: 1.2em;
}
.popover.popover-for-energy-bar > .popover-body {
	padding: 0.4em;
}
.popover .pokemon-image {
	height: 5em;
}
.popover .tiny-tutorial {
	font-size: 0.7em;
}
.popover .z-move-description {
	/* display: inline-block; */
	background-image: radial-gradient(
		circle,
		rgba(255, 0, 0, 1) 0%,
		rgba(255, 154, 0, 1) 10%,
		rgba(208, 222, 33, 1) 20%,
		rgba(79, 220, 74, 1) 30%,
		rgba(63, 218, 216, 1) 40%,
		rgba(47, 201, 226, 1) 50%,
		rgba(28, 127, 238, 1) 60%,
		rgba(95, 21, 242, 1) 70%,
		rgba(186, 12, 248, 1) 80%,
		rgba(251, 7, 217, 1) 90%,
		rgba(255, 0, 0, 1) 100%
	);
	background-size: 80%;
	background-position-x: 0%;
	background-position-y: 50%;
	/* background-repeat: no-repeat; */
	color: transparent;
	background-clip: text;

	animation-name: z-move-description-breathe;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes z-move-description-breathe{
	from {
		background-position-x: 0%;
	}
	to {
		background-position-x: 400%;
	}
}

.level-popover > .name {
	font-size: 110%;
}
.level-popover > .desc {
	filter: brightness(0.7);
}

.chooseable {
	background-color: rgba(100, 100, 100, 0.2);
	cursor: pointer;
	border-radius: 0.5em;
	border: 0.2em solid transparent;
	padding: 0.3em;
	transition: 0.3s background-color, 0.3s border-color;
}
.chooseable:hover {
	background-color: rgba(100, 100, 100, 0.5);
}
.chooseable.active {
	border-color: rgba(100, 100, 100, 1)
}
.chooseable .pokemon-image {
	height: 4em;
	width: auto;
}
.chooseable p {
	margin-bottom: 0;
}

#title-screen, #game {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
#board {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	position: relative;
	justify-content: space-between;
	transition: filter 0.5s;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
/* Hide scrollbar */
#board::-webkit-scrollbar {
	display: none;
}
#board.showing-dialogue {
	filter: opacity(0);
	pointer-events: none;
}
#title-screen {
	flex-direction: column;
}
#game {
	transition: background-image 0.3s;
}
#settings-btn {
	position: absolute;
	z-index: 10;
	bottom: -0.2em;
	right: -0.2em;
	cursor: pointer;
	background-color: var(--move-focus);
	border: 0.2em solid rgb(50, 50, 50);
	padding: 0.35em 0.5em;
	font-size: 3vh;
	border-top-left-radius: 25%;
	transition: background-color 0.25s;
}
#settings-btn:hover {
	background-color: var(--move-usable);
}

.route-list {
	width: 25%;
	height: 100%;
	border-right: 1px solid #333;
	padding: 3vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.route-list .btn {
  height: 12vh;
	width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
	font-size: var(--large-button-font-size);
	margin: 0.1em 0;
}
.route-list .btn:first-child {
	margin-top: 0;
}
.route-list .btn:last-child {
	margin-bottom: 0;
}
.route-btn.highlight {
	box-shadow: 0 0 1em var(--bs-btn-bg);
}

.route-screen {
	width: 75%;
	height: 100%;
}

.level-button {
	height: 3em;
	width: 3em;
	padding: 0;
	border-radius: 50%;
	margin: 0.5em;
	font-size: var(--large-button-font-size)
}
.level-button.won {
	background-color: var(--won-color);
	border-color: var(--won-color);
	box-shadow: 0px 0px 4px var(--won-color);
}
.level-button.won:active {
	background-color: rgb(214, 184, 17);
	border-color: rgb(214, 184, 17);
	box-shadow: 0px 0px 4px rgb(214, 184, 17);
}
.level-button > .inner {
	position: relative;
}
.level-button > .inner > .icon {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}
.level-button.won > .inner {
	color: white;
	filter: drop-shadow(0 0 0.05em black)
	drop-shadow(0 0 0.1em black);
}

#logo {
	font-size: 3em;
}
#loading-bar {
	position: relative;
	height: max(2rem, 2em); width: 50%;
	box-shadow: inset 0px 0px 3px gray;
	border-radius: 0.3em;
	margin-top: 1em;
	margin-bottom: 1em;
}
#loading-bar.complete {
	width: 30%;
	height: calc(max(2rem, 2em) + 0.5em);
	transition: width 1s, height 1s;
}
#loading-bar > .bar {
	background-color: var(--health-high);
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	border-radius: 0.3em;
	box-shadow: 0px 0px 3px var(--health-high);
	transition: background-color 0.2s, box-shadow 0.2s;
}
#loading-bar > .bar.ready:hover {
	background-color: var(--energy-green);
	box-shadow: 0px 0px 3px var(--energy-green);
	cursor: pointer;
}
#loading-bar > .count,
#loading-bar > .start {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
}
#loading-bar > .count {
	font-size: max(1.5rem, 1.5em);
}
#loading-bar > .start {
	font-size: max(2rem, 2em);
	font-weight: bold;
}
#save-files {
	width: 80%;
	transition: 0.5s height;
  text-align: center;
}
#save-files > h6 {
	font-size: 1em;
}
#save-files > .list {
	display: flex;
  justify-content: center;
	flex-wrap: wrap;
  gap: 0.3em;
}
#save-files > .list > .save-file.active {
	background-color: var(--energy-green);
	border-color: var(--energy-green);
}

#game.choosing-starter {
	background: linear-gradient(0deg, rgb(11, 28, 20) 90%, 
			rgb(14, 38, 0) 95%, rgb(9, 40, 0) 100%);
	justify-content: space-between;
}
#game.choosing-starter > .left,
#game.choosing-starter > .right {
	font-size: 4em;
	z-index: 1;
}
#game.choosing-starter > .left.active:hover,
#game.choosing-starter > .right.active:hover {
	cursor: pointer;
	color: #bbb;
}
.choose-starter {
	width: 100%; height: 100%;
	position: absolute;
}
.choose-starter > .bg {
	position: absolute;
	height: 100%;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}
.choose-starter > .ball-1 {
	top: 49vh; left: calc(50% - 26vh);
	transform: rotate(130deg);
}
.choose-starter > .ball-1 > img {
	transform: scaleX(-1);
}
.choose-starter > .ball-2 {
	top: 58vh; left: calc(50% - 7.5vh);
	transform: rotate(40deg);
}
.choose-starter > .ball-3 {
	top: 49vh; left: calc(50% + 11.5vh);
	transform: rotate(280deg);
}
.choose-starter > .ball-3 > img {
	transform: scaleX(-1);
}
.choose-starter > .ball {
	position: absolute;
	height: 15vh; width: 15vh;
	transition: transform 0.3s;
	cursor: pointer;
	filter: drop-shadow(0px 0px 5px black);
}
.choose-starter > .ball > img {
	position: absolute;
	height: 100%; width: 100%;
}
.choose-starter > .ball:hover,
.choose-starter > .ball.active {
	transform: translate(0, -4vh);
}
.choose-starter > .ball.active {
	filter: drop-shadow(0px 0px 5px gold);
}
.choose-starter > .invisible-image {
	height: 5px;
	position: absolute;
	z-index: -5;
	top: 50%; left: 50%;
}
.choose-starter > .confirm {
	position: absolute;
	display: none;
	top: 20vh; left: 50%;
	z-index: 3;
	transform: translate(-50%, -50%);
	font-size: 5vh;
}

#game-announcements {
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	height: 80%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	pointer-events: none;
	/* Can you BELIEVE they used 1050 as the z-index for modals?? 1050??? */
	z-index: 2000;
}
#game-announcements * {
	pointer-events: none;
}
#game-announcements > .announcement {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	font-size: 2em;
	width: 70%;
	text-align: center;
	background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 25%,
	rgba(0,0,0,0.5) 75%, rgba(0,0,0,0) 100%);
}

.board-side-container {
	width: 50%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	display: flex;
}
.board-side-container.enemy {
	justify-content: flex-end;
}
/* Hide scrollbar */
.board-side-container::-webkit-scrollbar {
	display: none;
}

.board-side {
	width: 44%;
	height: 100%;
	position: relative;
	scrollbar-width: none;
	margin-bottom: 10vh;
	background-image: linear-gradient(transparent, transparent);
	transition: background-image 0.3s;
}
.board-side .board-side-bg {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100vh;
	opacity: 0;
	z-index: -1;
	transition: opacity 0.5s;
}

.player .board-side-bg {
	background-image: linear-gradient(
		var(--player-color) 20%,
		transparent 40%
	);
}
.enemy .board-side-bg {
	background-image: linear-gradient(
		var(--enemy-color) 20%,
		transparent 40%
	);
}
.board-side.active .board-side-bg {
	opacity: 1;
}

.board-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
}
.board-center > #screen {
	width: 50%;
	background-color: #00000044;
	border-radius: 1em;
}
.board-center > #screen-tooltip {
	position: absolute;
	right: -2em;
	width: 20vw;
	max-height: 50vh;
	min-height: 30vh;
	background-color: var(--move-tooltip);
	border-radius: 1em;
	transform: translate(100%, 0);
	font-size: 120%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* pointer-events: none; */
	/* transition: opacity 0.5s; */
}
/* .board-center > #screen-tooltip.show {
	opacity: 1;
}
.board-center > #screen-tooltip.hide {
	opacity: 0;
} */
.board-center .confirm-btn {
	/* position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%); */
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
	pointer-events: auto;
}
.board-center .confirm-btn[disabled] {
	cursor: auto;
}
.board-center > .initiatives {
	height: 4em;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0.5;
	transition: opacity 0.5s;
}
.board-center > .initiatives:hover {
	opacity: 1;
}
.board-center > .initiatives > .initiative {
	width: 100%;
	text-align: center;
}
.board-center > .initiatives > .initiative.player > .bar {
	background-color: var(--player-color);
}
.board-center > .initiatives > .initiative.enemy > .bar {
	background-color: var(--enemy-color);
}

.health-bar,
.exp-bar,
.initiative {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.health-bar {
	height: 2em;
}
.exp-bar {
	height: 1em;
}
.health-bar > div,
.exp-bar > div,
.initiative > div {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0.2em;
}
.health-bar > span,
.exp-bar > span,
.initiative > span {
	z-index: 2;
}
.health-bar > div {
	background-color: var(--health-high);
}
.exp-bar > div {
	background-color: var(--exp);
}
.exp-bar > span {
	font-size: 0.8em;
}

.board-side-top::after {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: calc(100%);
	background-color: #00000044;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	z-index: -100;
}
.board-side-top {
	text-align: center;
	position: relative;
}

.board-side-top .health-bar {
	z-index: 2;
}

.board-side-top .z-meter {
	--z-meter-highlight: #F5F5F5;
	--z-meter-color: #4A4A4A;
	--z-meter-background: #77777A;
	--icon: url("src/img/z-icons/normal.png");
	--icon-position: center;
	--icon-size: auto 70%;
	--fullness: 0%;
	z-index: 100;
	position: absolute;
	width: 4em;
	height: 1.8em;
	transition: 0.3s width, 0.3s height;
	display: none;
}
.board-side-top .z-meter.show {
	display: block;
}
.board-side-top .z-meter:hover {
	width: 5em;
	height: 2.25em;
}
.board-side-top .z-meter[data-full="Full"],
.board-side-top .z-meter[data-inUse="true"] {
	--z-meter-shadow-color: var(--z-meter-highlight);
	filter: drop-shadow(0 0 0.5em var(--z-meter-shadow-color))
	drop-shadow(0 0 0.3em var(--z-meter-shadow-color));
}
.player .board-side-top .z-meter[data-full="Full"] {
	cursor: pointer;
}
.board-side-top .z-meter[data-type1="Normal"] {
	--z-meter-highlight: #F5F5F5;
	--z-meter-color: #4A4A4A;
	--z-meter-background: #77777A;
}
.board-side-top .z-meter[data-type1="Fire"] {
	--z-meter-highlight: #FFA756;
	--z-meter-color: #552800;
	--z-meter-background: #B95810;
}
.board-side-top .z-meter[data-type1="Water"] {
	--z-meter-highlight: #58ABF6;
	--z-meter-color: #103366;
	--z-meter-background: #3B5BA9;
}
.board-side-top .z-meter[data-type1="Electric"] {
	--z-meter-highlight: #FBE273;
	--z-meter-color: #665400;
	--z-meter-background: #C0A100;
}
.board-side-top .z-meter[data-type1="Grass"] {
	--z-meter-highlight: #7CDB8A;
	--z-meter-color: #1F4D1F;
	--z-meter-background: #4C9230;
}
.board-side-top .z-meter[data-type1="Ice"] {
	--z-meter-highlight: #A8F0F4;
	--z-meter-color: #1E4A4E;
	--z-meter-background: #5AA4A2;
}
.board-side-top .z-meter[data-type1="Fighting"] {
	--z-meter-highlight: #FF7667;
	--z-meter-color: #5A0F0C;
	--z-meter-background: #861D1A;
}
.board-side-top .z-meter[data-type1="Poison"] {
	--z-meter-highlight: #C58BE2;
	--z-meter-color: #451245;
	--z-meter-background: #6B2070;
}
.board-side-top .z-meter[data-type1="Ground"] {
	--z-meter-highlight: #E3C38E;
	--z-meter-color: #5A4726;
	--z-meter-background: #AA8E3F;
}
.board-side-top .z-meter[data-type1="Flying"] {
	--z-meter-highlight: #A0C8F0;
	--z-meter-color: #2F3266;
	--z-meter-background: #7258AA;
}
.board-side-top .z-meter[data-type1="Psychic"] {
	--z-meter-highlight: #FF93B5;
	--z-meter-color: #661933;
	--z-meter-background: #B9325A;
}
.board-side-top .z-meter[data-type1="Bug"] {
	--z-meter-highlight: #C6D16E;
	--z-meter-color: #495D1A;
	--z-meter-background: #717B11;
}
.board-side-top .z-meter[data-type1="Rock"] {
	--z-meter-highlight: #D3C08A;
	--z-meter-color: #4C3E17;
	--z-meter-background: #7E6916;
}
.board-side-top .z-meter[data-type1="Ghost"] {
	--z-meter-highlight: #A181E8;
	--z-meter-color: #2F1D47;
	--z-meter-background: #493360;
}
.board-side-top .z-meter[data-type1="Dragon"] {
	--z-meter-highlight: #A48BF4;
	--z-meter-color: #3C1880;
	--z-meter-background: #4722B6;
}
.board-side-top .z-meter[data-type1="Dark"] {
	--z-meter-highlight: #8D8D94;
	--z-meter-color: #261D1A;
	--z-meter-background: #4C3A2F;
}
.board-side-top .z-meter[data-type1="Steel"] {
	--z-meter-highlight: #C1C7D6;
	--z-meter-color: #4B4B56;
	--z-meter-background: #7B7B8A;
}
.board-side-top .z-meter[data-type1="Fairy"] {
	--z-meter-highlight: #FFB7E6;
	--z-meter-color: #5C2642;
	--z-meter-background: #944D72;
}

.board-side-top .z-meter[data-type2="Normal"] {
	--icon: url("src/img/z-icons/normal.png");
}
.board-side-top .z-meter[data-type2="Fire"] {
	--icon: url("src/img/z-icons/fire.png");
}
.board-side-top .z-meter[data-type2="Water"] {
	--icon: url("src/img/z-icons/water.png");
}
.board-side-top .z-meter[data-type2="Electric"] {
	--icon: url("src/img/z-icons/electric.png");
}
.board-side-top .z-meter[data-type2="Grass"] {
	--icon: url("src/img/z-icons/grass.png");
}
.board-side-top .z-meter[data-type2="Ice"] {
	--icon: url("src/img/z-icons/ice.png");
}
.board-side-top .z-meter[data-type2="Fighting"] {
	--icon: url("src/img/z-icons/fighting.png");
}
.board-side-top .z-meter[data-type2="Poison"] {
	--icon: url("src/img/z-icons/poison.png");
}
.board-side-top .z-meter[data-type2="Ground"] {
	--icon: url("src/img/z-icons/ground.png");
	--icon-position: center 40%;
	--icon-size: auto 50%;
}
.board-side-top .z-meter[data-type2="Flying"] {
	--icon: url("src/img/z-icons/flying.png");
	--icon-position: center 55%;
	--icon-size: auto 50%;
}
.board-side-top .z-meter[data-type2="Psychic"] {
	--icon: url("src/img/z-icons/psychic.png");
}
.board-side-top .z-meter[data-type2="Bug"] {
	--icon: url("src/img/z-icons/bug.png");
}
.board-side-top .z-meter[data-type2="Rock"] {
	--icon: url("src/img/z-icons/rock.png");
	--icon-position: center 45%;
	--icon-size: auto 50%;
}
.board-side-top .z-meter[data-type2="Ghost"] {
	--icon: url("src/img/z-icons/ghost.png");
}
.board-side-top .z-meter[data-type2="Dragon"] {
	--icon: url("src/img/z-icons/dragon.png");
	--icon-size: auto 50%;
}
.board-side-top .z-meter[data-type2="Dark"] {
	--icon: url("src/img/z-icons/dark.png");
}
.board-side-top .z-meter[data-type2="Steel"] {
	--icon: url("src/img/z-icons/steel.png");
}
.board-side-top .z-meter[data-type2="Fairy"] {
	--icon: url("src/img/z-icons/fairy.png");
}
.board-side-top .z-meter[data-inUse="true"] {
	--z-meter-background: var(--z-meter-highlight);
	--z-meter-shadow-color: white;
}
.board-side-top .z-meter[data-inUse="true"] .bar {
	--fullness: 100%;
}
.board-side-top .z-meter[data-inUse="true"] .icon {
	background-color: var(--z-meter-color);
	transform: scale(1.15);
	filter: saturate(2);
}
.player .board-side-top .z-meter {
	bottom: 0.3em; left: 0.3em;
}
.enemy .board-side-top .z-meter {
	bottom: 0.3em; right: 0.3em;
}
.board-side-top .z-meter-bar {
	height: 100%; width: 100%;
	background-color: var(--z-meter-background);
	/* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	transition: background-color 0.3s;
}
.board-side-top .z-meter-bar .wrapper {
	position: absolute;
	bottom: 0;
	width: 100%; height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-wrap: nowrap;
}
.board-side-top .z-meter-bar .wrapper * {
	flex-shrink: 0;
}
.board-side-top .z-meter-bar .bar-flourish {
	width: 100%;
	height: 100%;
	background-color: var(--z-meter-highlight);
	mask-image: linear-gradient(transparent, black 100%);
	mask-size: 100% 50%;
	mask-repeat: no-repeat;
	mask-position: bottom;

	animation-name: z-breathe;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transition: background-color 0.3s;
}
.enemy .board-side-top .z-meter-bar .bar-flourish {
	animation-delay: -3s;
}
@keyframes z-breathe {
	0% {
		mask-size: 100% 5%;
	}
	80% {
		mask-size: 100% 10%;
	}
	100% {
		mask-size: 100% 15%;
	}
}
.board-side-top .z-meter-bar .bar {
	width: 100%;
	height: var(--fullness);
	background-color: var(--z-meter-highlight);
	transition: height 0.3s, background-color 0.3s;
}
.board-side-top .z-meter-bar .icon {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--z-meter-color);
	mask-image: var(--icon);
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: var(--icon-position);
	mask-size: var(--icon-size);
	filter: brightness(0.5);
	transition: filter 0.3s, transform 0.3s;
}

.z-meter-popover .popover-body {
	padding: 0.2em 0.5em;
}

.avatar-pokemon-section {
	position: relative;
	height: 8em;
}
.avatar-pokemon-name {
	margin: auto;
	/* background-image: linear-gradient(180deg, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0) 100%); */
	text-shadow: 0 0 0.4em black, 0 0 0.4em black, 0 0 0.4em black;
	position: relative;
	z-index: 1;
}
.avatar-pokemon-image {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom center;
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 100%;
	transition: filter 0.4s ease-out;
	display: flex;
  justify-content: center;
  align-items: center;
}
.avatar-pokemon-image > .pokemon-image {
	max-height: 100%;
}
.active .avatar-pokemon-image {
	filter: drop-shadow(0px 0px 10px #ffffff70);
}
.avatar-pokemon-image.flip {
	transform: scaleX(-1);
}
.avatar-trainer-image-section {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
}
.avatar-trainer-image-section > .trainer-image {
	position: absolute;
	height: 70%;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	image-rendering: pixelated;
}
.avatar-pokeball-image {
	position: absolute;
	width: 100%;
	height: 100%;
}
.avatar-pokeball-image > span {
	display: inline-block;
	width: 100%;
	height: 100%;
}
.avatar-pokeball-image > span > .pokeball-image {
	position: absolute;
  top: 50%;
  left: 50%;
	/* width: 100%;
	height: 100%; */
  transform: translate(-50%, -50%);
	image-rendering: pixelated;
}

.pokeball-display {
	height: 1.6em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
.pokeball-display > .pokeball-helper {
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
}
.pokeball-display > .pokeball-helper > .pokeball-container {
	max-height: 100%;
	width: calc(100%/8);
	max-width: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pokeball-display > .pokeball-helper > .pokeball-container > .pokeball {
	max-height: 100%;
	height: 1.4em;
	max-width: 100%;
	border: 0.1em solid transparent;
	border-radius: 50%;
	transition: filter 0.3s, border-color 0.3s;
}
.pokeball-display > .pokeball-helper > .pokeball-container > .pokeball.unusable {
	filter: saturate(0);
}
.pokeball-display > .pokeball-helper > .pokeball-container > .pokeball.active-pokeball {
	filter: drop-shadow(0px 0px 4px #ffffff70);
	border-color: white;
}
.player .pokeball-display > .pokeball-helper > .pokeball-container > .pokeball  {
	cursor: pointer;
}

.pokemon-status-effect-section {
  position: absolute;
  top: 0; right: 0.25em;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap-reverse;
	gap: 0.3em;
}
.enemy .pokemon-status-effect-section {
	left: 0.25em;
	right: unset;
	flex-wrap: wrap;
}
.pokemon-status-effect-section > .status-effect-container > .status-effect {
  width: 2em;
	border-radius: 50%;
	background-color: #ff8329;
}

.energy-resources {
	height: 4em;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
}
.energy-resources > .energy {
	position: relative;
	width: calc(100%/8);
	max-width: 2em;
	border-radius: 0.2em;
	overflow: hidden;
	box-shadow: 0 0 0.2em 0 rgba(255, 255, 255, 0.5);
}
.energy-resources > .energy > .background {
	height: 100%;
	width: 100%;
	opacity: 0.3;
}
.energy-resources > .energy > .bar {
	position: absolute;
	width: 100%;
	bottom: 0;
	border-top-left-radius: 0.2em;
	border-top-right-radius: 0.2em;

	height: 0%;
}
.energy-resources > .energy > .count {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.energy-red > .background,
.energy-red > .bar {
	background-color: var(--energy-red)
}
.energy-orange > .background,
.energy-orange > .bar {
	background-color: var(--energy-orange)
}
.energy-yellow > .background,
.energy-yellow > .bar {
	background-color: var(--energy-yellow)
}
.energy-green > .background,
.energy-green > .bar {
	background-color: var(--energy-green)
}
.energy-blue > .background,
.energy-blue > .bar {
	background-color: var(--energy-blue)
}
.energy-purple > .background,
.energy-purple > .bar {
	background-color: var(--energy-purple)
}

.board-side-bottom {
	padding-top: 0.25em;
	padding-bottom: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.move-list {
	width: 100%;
}
.move {
	position: relative;
	border-radius: 0.25em;
	--background-color: var(var(--player-color));
	background-color: var(--move-unusable);
	color: var(--move-text-light);
	margin-top: 0.25em; margin-bottom: 0.25em;
	padding-top: 0.25em;
	transition: color 0.3s, background-color 0.3s, box-shadow 0.2s, transform 0.3s;
}
.move.usable {
	background-color: var(--move-usable);
	color: black;
}
.move.usable:hover {
	background-color: var(--move-usable-focus);
}
.move.usable[data-move-type="Bug"] {
	background-color: var(--type-bug);
	color: var(--move-text-lighter);
}
.move.usable[data-move-type="Bug"]:active {
	box-shadow: 0 0 var(--move-shadow-size) var(--type-bug);
}
.move.usable[data-move-type="Dark"] {
	background-color: var(--type-dark);
	color: var(--move-text-lighter);
}
.move.usable[data-move-type="Dark"]:active {
	box-shadow: 0 0 var(--move-shadow-size) var(--type-dark);
}
.move.usable[data-move-type="Dragon"] {
	background-color: var(--type-dragon);
	color: var(--move-text-lighter);
}
.move.usable[data-move-type="Dragon"]:active {
	box-shadow: 0 0 var(--move-shadow-size) var(--type-dragon);
}
.move.usable[data-move-type="Electric"] {
	background-color: var(--type-electric);
	color: var(--move-text-dark);
}
.move.usable[data-move-type="Electric"]:active {
	box-shadow: 0 0 var(--move-shadow-size) var(--type-electric);
}
.move.usable[data-move-type="Fairy"] {
	background-color: var(--type-fairy);
	color: var(--move-text-dark);
}
.move.usable[data-move-type="Fairy"]:active {
	box-shadow: 0 0 var(--move-shadow-size) var(--type-fairy);
}
.move.usable[data-move-type="Fighting"] {
	background-color: var(--type-fighting);
	color: var(--move-text-dark);
}
.move.usable[data-move-type="Fighting"]:active {
	box-shadow: 0 0 var(--move-shadow-size) var(--type-fighting);
}
.move.usable[data-move-type="Fire"] {
	background-color: var(--type-fire);
	color: var(--move-text-lighter);
}
.move.usable[data-move-type="Fire"]:active {
	box-shadow: 0 0 var(--move-shadow-size) var(--type-fire);
}
.move.usable[data-move-type="Flying"] {
	background-color: var(--type-flying);
	color: var(--move-text-dark);
}
.move.usable[data-move-type="Flying"]:active {
	box-shadow: 0 0 var(--move-shadow-size) var(--type-flying);
}
.move.usable[data-move-type="Ghost"] {
	background-color: var(--type-ghost);
	color: var(--move-text-lighter);
}
.move.usable[data-move-type="Ghost"]:active {
	box-shadow: 0 0 var(--move-shadow-size) var(--type-ghost);
}
.move.usable[data-move-type="Grass"] {
	background-color: var(--type-grass);
	color: var(--move-text-lighter);
}
.move.usable[data-move-type="Grass"]:active {
	box-shadow: 0 0 var(--move-shadow-size) var(--type-grass);
}
.move.usable[data-move-type="Ground"] {
	background-color: var(--type-ground);
	color: var(--move-text-lighter);
}
.move.usable[data-move-type="Ground"]:active {
	box-shadow: 0 0 var(--move-shadow-size) var(--type-ground);
}
.move.usable[data-move-type="Ice"] {
	background-color: var(--type-ice);
	color: var(--move-text-dark);
}
.move.usable[data-move-type="Ice"]:active {
	box-shadow: 0 0 var(--move-shadow-size) var(--type-ice);
}
.move.usable[data-move-type="Normal"] {
	background-color: var(--type-normal);
	color: var(--move-text-dark);
}
.move.usable[data-move-type="Normal"]:active {
	box-shadow: 0 0 var(--move-shadow-size) var(--type-normal);
}
.move.usable[data-move-type="Poison"] {
	background-color: var(--type-poison);
	color: var(--move-text-lighter);
}
.move.usable[data-move-type="Poison"]:active {
	box-shadow: 0 0 var(--move-shadow-size) var(--type-poison);
}
.move.usable[data-move-type="Psychic"] {
	background-color: var(--type-psychic);
	color: var(--move-text-lighter);
}
.move.usable[data-move-type="Psychic"]:active {
	box-shadow: 0 0 var(--move-shadow-size) var(--type-psychic);
}
.move.usable[data-move-type="Rock"] {
	background-color: var(--type-rock);
	color: var(--move-text-dark);
}
.move.usable[data-move-type="Rock"]:active {
	box-shadow: 0 0 var(--move-shadow-size) var(--type-rock);
}
.move.usable[data-move-type="Steel"] {
	background-color: var(--type-steel);
	color: var(--move-text-lighter);
}
.move.usable[data-move-type="Steel"]:active {
	box-shadow: 0 0 var(--move-shadow-size) var(--type-steel);
}
.move.usable[data-move-type="Water"] {
	background-color: var(--type-water);
	color: var(--move-text-lighter);
}
.move.usable[data-move-type="Water"]:active {
	box-shadow: 0 0 var(--move-shadow-size) var(--type-water);
}
.move.usable[data-struggle="true"] {
	background-color: var(--health-med)
}
.move.usable[data-struggle="true"]:hover {
	background-color: #dcb518;
}
.move.usable:active {
	transform: scale(1.1);
}
.move.unavailable {
  opacity: 0.5;
  filter: saturate(0.5);
}
.move.active-move {
	background-color: var(--move-usable);
	color: black;
}
.move.active-move:hover {
	background-color: var(--move-usable-focus);
}
.move.highlight {
	box-shadow: 0 0 1em var(--player-color);
	background-color: var(--player-color);
	box-shadow: 0 0 1em var(--player-color);
	color: black;
}
.player .move {
	transform-origin: left;
}
.player .move.usable {
	cursor: pointer;
}
.enemy .move {
	transform-origin: right;
}

.move > .move-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.3em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	position: relative;
	z-index: 5;
}
.move > .move-top > .move-type {
	height: 1em;
	display: flex;
	align-items: center;
	z-index: 5;
}
.move > .move-top > .move-type > img {
	height: 100%;
}
.move > .move-top > .move-type > * {
	margin-left: 0.1em;
}
.move-popover > .stat-line {
	height: 1em;
	margin-bottom: 0.8em;
}
.move > .move-top > .move-type > .move-recharge,
.move-popover > .stat-line > .move-recharge {
	height: 100%;
	position: relative;
	display: flex;
}
.move-popover > .stat-line > .move-power {
	line-height: 1;
}
.move > .move-top > .move-type > .move-recharge > img,
.move-popover > .stat-line > .move-recharge > img {
	max-height: 100%;
}
.move > .move-top > .move-type > .move-recharge > .count,
.move-popover > .stat-line > .move-recharge > .count {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	white-space: nowrap;
}

.move > .move-desc {
	padding: 0.5em;
	padding-top: 0;
	position: relative;
	z-index: 5;
}

.move > .move-cost {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-bottom: 0.5em;
	z-index: 5;
}
.move > .move-cost > .energy {
	position: relative;
	height: 1.5em; width: 1.5em;
	transition: filter 0.5s;
	z-index: 5;
}
.move > .move-cost > .energy > .icon {
	position: absolute;
	width: 100%; height: 100%;
	border-radius: 50%;
	transition: filter 0.5s;
}
.move > .move-cost > .energy > .icon.unpayable {
	filter: brightness(0.5);
}
.move > .move-cost > .energy-red > .icon {
	background-color: var(--energy-red);
}
.move > .move-cost > .energy-orange > .icon {
	background-color: var(--energy-orange);
}
.move > .move-cost > .energy-yellow > .icon {
	background-color: var(--energy-yellow);
}
.move > .move-cost > .energy-green > .icon {
	background-color: var(--energy-green);
}
.move > .move-cost > .energy-blue > .icon {
	background-color: var(--energy-blue);
}
.move > .move-cost > .energy-purple > .icon {
	background-color: var(--energy-purple);
}
.move > .move-cost > div > .cost {
	position: absolute;
	min-width: 100%; height: 100%;
	top: 50%; left: 50%;
	z-index: 4;
	text-align: center;
	transform: translate(-50%, -50%);
	color: white;
}

.move > .disabled-container {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0; left: 0;
	z-index: 10;
}
.move > .disabled-container > img {
	position: absolute;
	height: 0;
	width: 0;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	transition: height 0.3s, width 0.3s, opacity 0.3s;
}
.move:hover > .disabled-container > img {
	opacity: 0.7;
}
.move.disabled > .disabled-container > img {
	height: calc(100% + 1em);
	width: calc(100% + 1em);
}

.move > .effectiveness-container {
	border-radius: inherit;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0; left: 0;
	z-index: 1;
	overflow: hidden;
}
.move > .effectiveness-container > .effectiveness {
	position: absolute;
	height: 3em;
	width: 100%;
	top: 0%; left: 100%;
	transform: translate(-50%, -50%) rotate(45deg);
	opacity: 0;
	transition: opacity 0.3s;
}
.move[data-effectiveness="super-effective"]  > .effectiveness-container > .super-effective {
	opacity: 1;
}
.move[data-effectiveness="not-very-effective"]  > .effectiveness-container > .not-very-effective {
	opacity: 1;
}
.move[data-effectiveness="immune-effective"]  > .effectiveness-container > .immune-effective {
	opacity: 1;
}
.move  > .effectiveness-container > .super-effective {
	background: linear-gradient(180deg,
	rgba(248, 255, 46, 1) 0%,
	rgba(199, 113, 87, 1) 50%,
	rgba(248, 255, 46, 1) 100%);
}
.move  > .effectiveness-container > .not-very-effective {
	background: linear-gradient(180deg,
	rgba(194, 39, 65, 1) 0%,
	rgba(194, 39, 65, 1) 50%,
	rgba(194, 39, 65, 1) 100%);
}
.move  > .effectiveness-container > .immune-effective {
	background: linear-gradient(180deg,
	rgb(28, 1, 71) 0%,
	rgb(28, 1, 71) 50%,
	rgb(28, 1, 71) 100%);
}

.pokemon-stats {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.pokemon-stats > .stats {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}
.pokemon-stats > .stats > .stat {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 0.2em;
	margin-right: 0.2em;
}
.popover .down,
.pokemon-stats > .stats > .stat > .stat-val.down,
.move-popover .val.down {
	color: var(--health-low);
}
.popover .up,
.pokemon-stats > .stats > .stat > .stat-val.up,
.move-popover .val.up {
	color: var(--health-high);
}
.pokemon-stats > .stats.mastery {
	width: 100%;
	justify-content: space-evenly;
}
.pokemon-stats > .stats.mastery > .mastery-icon {
	height: 2em;
	width: 2em;
	position: relative;
	margin: 0 0.2em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pokemon-stats > .stats.mastery > .mastery-icon img {
	height: 100%;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}
.pokemon-stats > .stats.mastery > .mastery-icon > span {
	z-index: 1;
	text-shadow:  0.2em 0     0.2em black,
	             -0.2em 0     0.2em black,
	             0      0.2em 0.2em black,
	             0     -0.2em 0.2em black;
}

#pc {
  height: 100%;
  width: 60vw;
	font-family: DP_Pro, Arial;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#pc > #pc-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-height: 20%;
	width: 100%;
}
#pc > #pc-header > #pc-box-name {
	font-size: min(3em, 5vh);
	height: 100%;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	image-rendering: pixelated;
	cursor: pointer;
}
#pc > #pc-header > .button {
	font-size: 3em;
	cursor: pointer;
	transition: 0.2s color;
}
#pc > #pc-header > .button:hover {
	color: #bbb;
}
#pc > #pc-header > #pc-prev-box-btn {
	margin-right: 0.2em;
	font-size: var(--dialogue-font-size);
}
#pc > #pc-header > #pc-next-box-btn {
	margin-left: 0.2em;
	font-size: var(--dialogue-font-size);
}
#pc > #pc-box {
	height: min(70%, 40vw);
	width: 70%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	image-rendering: pixelated;
	position: relative;
}
#pc > #pc-box > .pokemon-image {
	position: absolute;
	transform: translate(-50%, -50%);
	height: 3.4em;
	image-rendering: auto;
	cursor: pointer;
}

#pc-admin {
  height: 100%;
  width: 30vw;
  margin-left: 3.33vw;
	text-align: center;
}

.active-pokemon-container {
	padding-bottom: calc(var(--active-pokemon-box-size) * 0.3);
}
.active-pokemon-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 10px;
	height: var(--active-pokemon-box-size);
	background-image: url("src/img/pc-profile-1.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	image-rendering: pixelated;
}
.active-pokemon-box:nth-of-type(2n){
	top: calc(var(--active-pokemon-box-size) * 0.25);
}
.active-pokemon-box.selected {
	background-image: url("src/img/pc-profile-2.png");
}
.active-pokemon-box > img {
	image-rendering: auto;
	height: calc(var(--active-pokemon-box-size) * 0.7);
	position: absolute;
	top: calc(50% - var(--active-pokemon-box-size) * 0.5);
	left: calc(50% - var(--active-pokemon-box-size) * 1.2);
}
.active-pokemon-box.selected > img {
	animation: bounce 1.5s infinite;
}

#pokemon-dragger {
	height: 4em;
	position: absolute;
	top: 0; left: 0;
	transform: translate(-50%, -25%);
	pointer-events: none;
}

#pokedex {
	width: 100%; height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
}
#pokedex > #dexWindow {
	width: 80%; height: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: start;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
/* Hide scrollbar */
#pokedex > #dexWindow::-webkit-scrollbar {
	display: none;
}
/* #pokedex > #dexWindow > div {
	padding-top: 1em;
	padding-bottom: 1em;
} */
#pokedex > #dexWindow > .pokemon-list {
	width: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: start;
	row-gap: 1em;
	column-gap: 1em;
}
#pokedex > #dexWindow > .pokemon-list > .pokemon-section {
	width: 10em; height: 10em;
	padding: 0.5em;
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	font-family: Kode_Mono;
	font-weight: bold;
	border-radius: 1em;

	background-color: var(--ui-primary-bg);
	background-image: repeating-linear-gradient(
		20deg,
		transparent 1em,
		/* white 1.2em, */
		rgba(99, 145, 219, 0.228) 1.2em,
		transparent 1.4em,
		transparent 2em
	);
	border: 0.25em solid rgba(15, 54, 118);
	/* box-shadow: 0 0 0.7em rgba(255, 255, 255, 0.4); */

	cursor: pointer;
	transition: background-color 0.2s, transform 0.2s, border-width 0.2s;
}
#pokedex > #dexWindow > .pokemon-list > .pokemon-section:hover {
	background-color: rgba(45, 48, 236);
}
#pokedex > #dexWindow > .pokemon-list > .pokemon-section .pokemon-image-section {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 20%;
	flex-grow: 1;
}
#pokedex > #dexWindow > .pokemon-list > .pokemon-section .pokemon-image-section .pokemon-image {
	max-width: 80%;
	max-height: 80%;
	z-index: 5;
	transition: max-width 0.2s, max-height 0.2s;
}
#pokedex > #dexWindow > .pokemon-list > .pokemon-section.not-caught .pokemon-image-section .pokemon-image {
	/* filter: brightness(1000000) sepia(1) brightness(1000000) saturate(0.5) brightness(0.2); */
	opacity: 0.2;
}
#pokedex > #dexWindow > .pokemon-list > .pokemon-section.not-seen .pokemon-image-section .pokemon-image {
	opacity: 0;
}
#pokedex > #dexWindow > .pokemon-list > .pokemon-section:hover .pokemon-image-section .pokemon-image {
	max-width: 90%; max-height: 90%;
}
#pokedex > #dexWindow > .pokemon-list > .pokemon-section .pokemon-image-section .pokemon-image-bg {
	width: 80%; height: 80%;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	background: #111;
	/* background: linear-gradient(
			90deg,
			rgba(255, 0, 0, 1) 0%,
			rgba(255, 154, 0, 1) 5%,
			rgba(208, 222, 33, 1) 10%,
			rgba(79, 220, 74, 1) 15%,
			rgba(63, 218, 216, 1) 20%,
			rgba(47, 201, 226, 1) 25%,
			rgba(28, 127, 238, 1) 30%,
			rgba(95, 21, 242, 1) 35%,
			rgba(186, 12, 248, 1) 40%,
			rgba(251, 7, 217, 1) 45%,
			rgba(255, 0, 0, 1) 50%,
			rgba(255, 154, 0, 1) 55%,
			rgba(208, 222, 33, 1) 60%,
			rgba(79, 220, 74, 1) 65%,
			rgba(63, 218, 216, 1) 70%,
			rgba(47, 201, 226, 1) 75%,
			rgba(28, 127, 238, 1) 80%,
			rgba(95, 21, 242, 1) 85%,
			rgba(186, 12, 248, 1) 90%,
			rgba(251, 7, 217, 1) 95%,
			rgba(255, 0, 0, 1) 100%
	); */
	/* background: url("src/Rick-Astley-Never-Gonna-Give-You-Up.webp"); */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	mask-size: contain;
	mask-position: center;
	mask-repeat: no-repeat;
	mask-origin: center;
	transition: width 0.2s, height 0.2s;
}
#pokedex > #dexWindow > .pokemon-list > .pokemon-section:hover .pokemon-image-section .pokemon-image-bg {
	width: 90%; height: 90%;
}
#pokedex > #dexWindow > .pokemon-list > .pokemon-section.caught .pokemon-image-section .pokemon-image-bg {
	opacity: 0;
}
#pokedex > #dexWindow > .pokemon-list > .pokemon-section .pokemon-name-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 0;
	font-size: 0.9em;
	/* filter: drop-shadow(0 0 0.2em white); */
}
#pokedex > #dexWindow > .pokemon-list > .pokemon-section .pokemon-number {
	margin: 0;
	line-height: 0.8;
	letter-spacing: 0.2em;
	opacity: 0.7;
}
#pokedex > #dexWindow > .pokemon-list > .pokemon-section .shiny-indicator {
	position: absolute;
	top: 0.55em;
	left: 0.5em;
	color: rgb(255, 239, 96);
	filter: drop-shadow(0 0 0.2em rgba(255, 240, 155, 0.5));
}
#pokedex > #dexWindow > .pokemon-list > .pokemon-section .shiny-indicator img {
	height: 2em;
}
#pokedex > #pokedex-admin {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#modal {
  user-select: text;
}
#modal.summary .pokemon-info {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}
#modal.summary .pokemon-info > .pokemon-section {
	width: min(35%, 18em);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
#modal.summary .pokemon-info > .pokemon-section .stats-section {
	width: 100%;
}
#modal.summary .pokemon-info > .pokemon-section .stats {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}
#modal.summary .pokemon-info > .pokemon-section .stat,
#modal.summary .pokemon-info > .pokemon-section .mastery-icon {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0.2em 0;
}
#modal.summary .pokemon-info > .pokemon-section .stat .stat-name,
#modal.summary .pokemon-info > .pokemon-section .mastery-icon .mastery-left {
	margin-right: 3em;
}
#modal.summary .pokemon-info > .pokemon-section .stats.mastery .mastery-icon {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#modal.summary .pokemon-info > .pokemon-section .stats.mastery .mastery-icon img {
	height: 2em;
	margin-right: 0.5em;
}
#modal.summary .pokemon-info > .move-section {
	width: 45%;
	min-width: 20em;
	min-height: 100%;
	/* max-height: 50vh; */
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	flex-grow: 1;
}
/* Hide scrollbar */
#modal.summary .pokemon-info > .move-section::-webkit-scrollbar {
	display: none;
}

#modal.summary .advanced-info > .pokeball-section {
	width: 90%;
	margin: auto;
}
#modal.summary .advanced-info > .pokeball-section .pokeball-option {
	background-color: var(--move-unusable);
	border-radius: 1em;
	cursor: pointer;
	transition: background-color 0.3s;
}
#modal.summary .advanced-info > .pokeball-section .pokeball-option:hover {
	background-color: var(--move-focus);
}
#modal.summary .advanced-info > .pokeball-section .pokeball-option.active {
	background-color: var(--move-usable);
}
#modal.summary .advanced-info > .pokeball-section .pokeball-option.active:hover {
	background-color: var(--move-usable-focus);
}

#modal.summary .charts {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
#modal.summary .charts canvas {
	width: 40%;
}

#modal.summary .nav-tabs {
	border-bottom: none;
}
#modal.summary .nav-tabs .nav-item {
	margin-left: 0.25em;
	margin-right: 0.25em;
}
#modal.summary .nav-tabs .nav-item .nav-link {
	border-radius: 0;
	border-bottom-left-radius: var(--bs-border-radius);
	border-bottom-right-radius: var(--bs-border-radius);
	border-top: none;
	color: white;
	background-color: rgb(54, 54, 54);
	/* background-color: var(--modal-border-color); */
}
#modal.summary .nav-tabs .nav-item .nav-link:hover {
	--bs-nav-tabs-link-hover-border-color: var(--modal-border-color);
	background-color: var(--modal-border-color);
	color: white;
}
#modal.summary .nav-tabs .nav-item .nav-link.active {
	background-color: white;
	color: black;
}
#modal.summary .nav-tabs .nav-item .nav-link.active:hover {
	background-color: rgb(189, 189, 189);
	border-color: rgb(189, 189, 189);
	color: black;
}

#modal .pc-evolutions-display {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
}
#modal .pc-evolutions-display .pc-evolution-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 1em;
	height: 20em;
	width: 20em;
	padding: 1em;
	cursor: pointer;
	transition: background-color 0.3s;
}
#modal .pc-evolutions-display .pc-evolution-item:hover {
	background-color: #33333388;
}
#modal .pc-evolutions-display .pc-evolution-item.active {
	background-color: #666666aa;
}
#modal .pc-evolutions-display .pc-evolution-item-name {
	flex-grow: 0;
}
#modal .pc-evolutions-display .pc-evolution-item-img {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	height: 90%;
}
#modal .pc-evolutions-display .pc-evolution-item-img img {
	height: 100%;
	display: block;
}

.evolution-container {
	position: relative;
}
.modal .evolution-container {
	height: 10em;
}
.evolution-container > div {
	height: 60%;
	width: 40%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	mask-position: center;
	mask-size: contain;
	mask-repeat: no-repeat;
}
.evolution-container > div > img {
	max-height: 100%;
}

.modal .changelog .form-select {
	background-color: rgb(68, 68, 68);
	color: white;
	border-color: rgb(73, 73, 73);
	--bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
.modal .changelog .accordion-item {
	--bs-accordion-border-color: rgb(73, 73, 73);
	--bs-accordion-bg: rgb(68, 68, 68);
	--bs-accordion-color: white;
	--bs-accordion-active-color: rgb(230, 230, 230);
	--bs-accordion-btn-color: white;
	--bs-accordion-btn-bg: rgb(63, 63, 63);
	--bs-accordion-btn-icon:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
	--anniversary-color: rgb(24, 88, 104);
}
.modal .changelog .accordion-button {
	background-color: var(--bs-accordion-btn-bg);
}
.modal .changelog .major-release .accordion-header button {
	font-weight: bold;
}
.modal .changelog .anniversary {
	--bs-accordion-bg: var(--anniversary-color);
	--bs-accordion-border-color: var(--anniversary-color);
}
.modal .changelog .anniversary .accordion-header button {
	background-color: var(--anniversary-color);
}

#dialogue-container,
#dialogue,
#dialogue > .speakers,
#dialogue > .nameplate {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
}
#dialogue > .text-box {
	position: absolute;
	background: linear-gradient(-30deg, #00477d80 0%, #004ea8a0 100%);
	left: 50%;
	width: 80%; height: 40%;
	/* max-width: 80em; max-height: 20em; */
	transform: translate(-50%, 0);
	bottom: 0%;
	border-radius: 50%;
	z-index: 10;
}
#dialogue > .text-box > .text-background {
	position: absolute;
	top: 50%;	left: 50%;
	font-size: var(--dialogue-font-size);
	width: calc(100% - 0.2em); height: calc(100% - 0.2em);
	transform: translate(-50%, -50%);
	/* background-color: #ececec; */
	background: radial-gradient(at bottom, #aeaeae, white);
	border-radius: 50%;
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	mask-image: radial-gradient(ellipse at center, black 67%, transparent 71%);
	mask-size: cover;
	mask-origin: center;
}
#dialogue > .text-box > .text {
	position: absolute;
	top: 50%;	left: 50%;
	width: calc(100% - 1rem); height: calc(100% - 1rem);
	transform: translate(-50%, -50%);
	padding: min(4vh, 1.2em) min(5em, 15vw);
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	z-index: 12;
	font-size: var(--dialogue-font-size);
	filter: drop-shadow(0.05em 0em 0.1em #ececec)
	drop-shadow(-0.05em 0em 0.1em #ececec)
	drop-shadow(0em 0.05em 0.1em #ececec)
	drop-shadow(0em -0.05em 0.1em #ececec);
	color: black;
}
#dialogue > .text-box > .text > span {
	background-image: linear-gradient(4deg, #222, #000);
	background-clip: text;
	color: transparent;
}
#dialogue > .text-box > .text .word {
	display: inline-block;
}
#dialogue > .text-box > .text-continue {
	position: absolute;
	top: 70%;	left: 85%;
	transform: translate(-50%, -50%);
	font-size: var(--dialogue-font-size);
	background-image: radial-gradient(black, black);
	background-clip: text;
	color: transparent;
}
#dialogue > .text-box > .text-continue > .bi {
	animation-name: vertical-bob;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	display: inline-block;
}
#dialogue > .text-box > .nameplate {
	z-index: 11;
	position: absolute;
	top: 3%;
	left: 28%;
	font-family: "Asap", Absolut_Pro, Arial;
	transform: translate(-50%, -50%);
}
#dialogue > .text-box > .nameplate > .text-background {
	position: absolute;
	background-color: var(--ui-primary-bg);
	font-size: var(--dialogue-font-size);
	min-width: calc(10em + 0.25em);
	min-height: calc(var(--dialogue-font-size) + 0.25em);
	transform: translate(-50%, -50%);
	border-radius: 0.35em;
}
#dialogue > .text-box > .nameplate > .text-background-2 {
	position: absolute;
	font-size: var(--dialogue-font-size);
	background-color: rgb(0, 68, 255);
	background-image: repeating-linear-gradient(
		-0.5deg,
		transparent, transparent 0.1em, rgba(125, 143, 247, 0.266) 0.15em, transparent 0.25em
	);
	min-width: 10em;
	min-height: var(--dialogue-font-size);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(-50%, -50%);
	border-radius: 0.35em;
}
#dialogue > .text-box > .nameplate > .text {
	position: absolute;
	font-size: var(--dialogue-font-size);
	min-width: 10em;
	min-height: min(8vh, 4rem);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(-50%, -50%);
	border-radius: 0.5em;
	background: linear-gradient(-182deg, white 20%, skyblue 80%);
	background-clip: text;
	color: transparent;
	font-weight: bolder;
}
#dialogue > .speakers {
	image-rendering: pixelated;
}
#dialogue > .speakers > .speaker {
	position: absolute;
	height: 70%;
	bottom: 30%; left: 50%;
	filter: drop-shadow(0 0 2em #00000055) drop-shadow(0 0 2em #00000055);
}
#dialogue > .speakers > .speaker > img {
	height: 100%;
	pointer-events: none;
}
#dialogue > #dialogueSkipBtn {
	position: fixed;
	top: 0.2em; right: 0.2em;
	z-index: 100;
}

#background {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-position: center;
	background-size: cover;
	z-index: -100;
}
#background div {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-position: center;
	background-size: cover;
	z-index: -100;
}
#background-z-move-overlay, 
#background-z-move-overlay > canvas, 
#background-canvas {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	z-index: -100;
}

.no-pointer {
	pointer-events: none;
}

@media (min-width: 1500px) {
	.popover {
		font-size: 1em;
		max-width: 25em;
		padding: 0.5em;
		border-radius: 0.7em;
	}
}
@media (min-width: 2000px) {
	.popover {
		font-size: 1em;
		max-width: 25em;
		padding: 0.5em;
		border-radius: 0.7em;
	}
}

@keyframes bounce {
	0% {
		transform: translate(0, 0);
	}
	0.1% {
		transform: translate(0, -20%);
	}
	50% {
		transform: translate(0, -20%);
	}
	50.1% {
		transform: translate(0, 0);
	}
}
@keyframes vertical-bob {
	0% {
		transform: translate(0, 0);
	}
	5% {
		transform: translate(0, -10%);
	}
	50% {
		transform: translate(0, -10%);
	}
	55% {
		transform: translate(0, 0);
	}
}